<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_INailSupplyService" maxBufferSize = "2147483647" maxBufferPoolSize = "524288"
 maxReceivedMessageSize ="2147483647"/>
               
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://lenovo-pc/IMNS.ServiceModel.Service.BL/NailSupplyService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INailSupplyService"
                contract="INailSupplyService" name="BasicHttpBinding_INailSupplyService" />
        </client>
    </system.serviceModel>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime sku=".NETFramework,Version=v4.0" version="v4.0"/>
  </startup>
</configuration>