<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <!--<add name="dbnailsupplyEntities" connectionString="metadata=res://*/DL.EDS_NailSupply.csdl|res://*/DL.EDS_NailSupply.ssdl|res://*/DL.EDS_NailSupply.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOCHUYNH-THINK\SQLSERVER2008;initial catalog=dbnailsupply;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="dbnailsupplyEntities" connectionString="metadata=res://*/DL.EDS_NailSupply.csdl|res://*/DL.EDS_NailSupply.ssdl|res://*/DL.EDS_NailSupply.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TC1NAILDEPOT;initial catalog=dbnailsupply;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="dbnailsupplyEntities1" connectionString="metadata=res://*/DL.Model1.csdl|res://*/DL.Model1.ssdl|res://*/DL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TC1NAILDEPOT;initial catalog=dbnailsupply;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="dbnailsupplyEntities" connectionString="metadata=res://*/DL.EDS_NailSupply.csdl|res://*/DL.EDS_NailSupply.ssdl|res://*/DL.EDS_NailSupply.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TC1NAILDEPOT;initial catalog=dbnailsupply;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <!--<serviceMetadata httpGetEnabled="true"/>-->
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception informaton -->
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <diagnostics>
      <messageLogging maxMessagesToLog="30000" logEntireMessage="true" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true">
      </messageLogging>
    </diagnostics>
  </system.serviceModel>
 
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="e2eTraceTest.e2e" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>